Conditions

In Python there are 4 conditions

* if
* if-else
* if-elif
* match case

In [2]:
data = int(input("enter data value"))
print(f"value => {data}")

value => 120

In [5]:
print('you see a apple seller')
q = input('do you like apples?')
if q == 'yes' :
    print('purchase 2kg of apples')
if q == 'no' :
    print('you dont purchase apples')

you see a apple seller
purchase 2kg of apples

In [5]:
salary = 52000
if salary > 50000:
    da = .15           #15% dearness allowance
total = salary+salary*da
print(f"total salary is {total}")

total salary is 59800.0

In [13]:
salary = 42000
da=0
if salary > 50000:
    da = .15           #15% dearness allowance
total = salary+salary*da
print(f"total salary is {total}")

total salary is 42000

In [14]:
# solution 2 - use if else
salary=42000
if salary>50000:
    da=.15
    total=salary+salary*da
else:
    total=salary
print(f"total salary is {total}")

total salary is 42000

In [15]:
#solution 2 - use if else with their own prient
salary=42000
if salary>50000:
    da=1.5
    total=salary+salary*da
    print(f"total salary is{total}")
else:
    total=salary
    print(f"total salary is{total}")

total salary is42000

In [17]:
x=int(input())
y=int(input())
if x>y:
    a=x-y
else:
    a=y-x

In [18]:
x=int(input("Enter a number:"))
y=int(input("Enter a second number:"))
if x>y:
    a=x-y
else:
    a=y-x

In [20]:
name = input("enter your fav movie")
if len(name)>10:
    print(f"long movie name: {name}")
else:
    print(f"short movie name: {name}")
print("the end")

long movie name: Bhahubali the begining
the end

# Handling multiple conditions using if-elif

In [1]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi": 
    print("you are correct")
if answer == "new delhi":
    print("you are very correct")
if answer == "i dont know":
    print("u must be sleepin under a rock")
if answer == "shimla":
    print("you mustbe from Britain")

what is the capital of india
you are correct

In [13]:
Marks=int(input("Enter Your Maths Marks in 10:"))
if Marks > 90:
    print("Your Grade Is A")
if Marks > 75 and Marks<=89:
    print("Your Grade Is B")
if Marks > 60 and Marks <=74:
    print("Your Grade Is C")
if Marks > 40 and Marks <=59:
    print("Your Grade Is D")
if Marks < 40:
    print("Your Failed ðŸŽ‚")

Your Failed ðŸŽ‚

In [14]:
Marks=int(input("Enter Your Maths Marks in 10:"))
if Marks > 90:
    print("Your Grade Is A")
elif Marks > 75:
    print("Your Grade Is B")
elif Marks > 60:
    print("Your Grade Is C")
elif Marks > 40:
    print("Your Grade Is D")
elif Marks < 40:
    print("Your Failed ðŸŽ‚")

Your Failed ðŸŽ‚

In [16]:
# salary calcuator 
salary=int(input("Enter your frnds salary:"))
if salary>100000:
    total=salary-salary* .2# frnds tax 20%
elif salary>80000:
    total=salary-salary*.1
elif salary>5000:
    total=salary-salary*.05
else:
    total = salary+10000
    print(f'friends salary=>{salary}')
    print(f'friends total=>{total}')

In [25]:
day = input("What is the day today?")
match day:
    case "Monday": print("Today is Monday! Boring")
    case "Sunday": print("Holiday")
    case "Friday": print("Waiting for the weekend")
    case "Saturday": print("The best day of the weekend")
    case default: print("its not an option")

Holiday

In [29]:
print("tell me some movies")
gener=input("what gener do you like?")
match gener:
    case "action":
        print("Avengers, Deadpool, Fast&furious")
    case "horror":
        print("IT, Arundathi, Nun")
    case "family":
        print("Kalisindamraa, Santhosam, Raja")
    case "sci-fi" | "comedy":
        print("Adam Project, Nimona, Interstellar")
    case "default":
        print("you dont watch any movies")

tell me some movies
Adam Project, Nimona, Interstellar

# nested if

if cond
    if cond
        if cond
            statement
        else:
            statement
    else: 
        statement
else:
    statement