In [2]:
x=[]    #empty
x=()    #empty
y=[1,2,3]    #direct instilization
z=[]
z.append("apple")  #adding a single value
z.append("cherry")
z.append("avacado")
print(z)

['apple', 'cherry', 'avacado']

In [3]:
x=[1,2,3]
y=[4,5,6]
z=x+y    #concatenate list
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [5]:
#list of duplicates

a=[1]*10  
print(a)
b=[1,2]
c=a*2
print(b)
print(c)
print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
#displaying a single item at a time
for item in a:
    print(item)
#single element using index
print(a[0])
print(a[3],a[5])

1
1
1
1
1
1
1
1
1
1
1
1 1

In [9]:
students=["Bhargavu","Sameer","ajay","balaji","abhi","vamsi","ram","ajay babu","srikanth","manikanta","roopa","rohitha","lahari","indu","indumathi","Indupriya","shirisha","sneha","Poojitha","anusha","ramya"]

In [4]:
x=[11,12,13,15,19]
x[0:3]
x[2:5]

[13, 15, 19]

In [ ]:

name="william shakespear"
name[7:3]

''

In [23]:
# slicing syntax
#var[start : stop : step]
name="william shakespear"
name[:7]
name[8:]

'shakespear'

In [39]:
name="yaswanth"
name[: : 2]
name[1 : : 2]

'awnh'

In [37]:
name="shaik mohammad anis"
name[: : 2]

'sakmhma ns'

In [1]:
for i in range(5):
    print(i)
else:
    print("Loop completed successfully")

0
1
2
3
4
Loop completed successfully

In [12]:
name = "yaswanth haribabu"
fname[0 : 7]

NameError: name 'fname' is not defined

condition based
new list =operation loop condition
xern=[for i in x if i%2==0]
songs =[file for the in data  is file wounderfull(.mp3)]

maping 
apply operation on data 

filtering

In [12]:
movies=['pushpa','kalki','bommarillu','santosham','nuvunakunachav','aarya','julay','gangothri','paradise','satyamurthi','lucky bhaskar','kalisundam raa','ninne pelladutha','preminchukundam raa',]
movielen=[]
for movie in movies:
    size=len(movie)
    movielen.append(size)
print(movies)
print(movielen)

['pushpa', 'kalki', 'bommarillu', 'santosham', 'nuvunakunachav', 'aarya', 'julay', 'gangothri', 'paradise', 'satyamurthi', 'lucky bhaskar', 'kalisundam raa', 'ninne pelladutha', 'preminchukundam raa']
[6, 5, 10, 9, 14, 5, 5, 9, 8, 11, 13, 14, 16, 19]

In [13]:
movielen=[len(movie) for movie in movies]
print(movies)
print(movielen)

['pushpa', 'kalki', 'bommarillu', 'santosham', 'nuvunakunachav', 'aarya', 'julay', 'gangothri', 'paradise', 'satyamurthi', 'lucky bhaskar', 'kalisundam raa', 'ninne pelladutha', 'preminchukundam raa']
[6, 5, 10, 9, 14, 5, 5, 9, 8, 11, 13, 14, 16, 19]

In [3]:
my_tuple =(1,2,3)
print(my_tuple)

(1, 2, 3)

In [4]:
my_tuple = (1, "hello", 3,4)
print(my_tuple)

(1, 'hello', 3, 4)

In [11]:
my_tuple =("keyboard" , [4,5,6],(29809,7))
print(my_tuple)

('keyboard', [4, 5, 6], (29809, 7))

In [10]:
my_tuple = 3,4,5, "grapes"
print(my_tuple)

(3, 4, 5, 'grapes')

In [12]:
my_tuple = ('r','g','y','j','t','b','l',)
print(my_tuple[0])
print(my_tuple[5])

r
b

In [17]:
n_tuple =("keyboard",[5,6,8],(3,6,0))
print(n_tuple[0][2])
print(n_tuple[1][1])

y
6

In [18]:
print((3,5,7)+(6,7,5))

(3, 5, 7, 6, 7, 5)

In [22]:
print(("repeat",)*8)

('repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat')

In [24]:

my_tuple =('p','y','i','j','u',)
print(my_tuple.count('p'))
print((my_tuple.index('i')))

1
2

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [7]:
for i in range(5):
    if i == 2:
        pass  # Do nothing
    print(i)

0
1
2
3
4

In [8]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4