In [ ]:
name="Bruce wayne"
city="Gotham"

In [ ]:
name="Bruce wayne"
city="Gotham"

In [2]:
name=input()

In [3]:
pythagroas()

NameError: name 'pythagroas' is not defined

In [4]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

In [10]:
name = input("enter name=>")
city = input("enter city=>")
addr = input("enter address=>")
print(name, city, addr)

vishnudasari anantapura jntu road

In [12]:
a=10
b=20
c=a+b
print(a,b,c)

10 20 30

In [15]:
a=input("Enter a")
b=input("Enter b")
c=input("a+b")
print(a,b,c)

2 1 22

In [16]:
radius=float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2*3.14*radius
area=3.14*radius**2

print(radius)
print(diameter)
print(circumference)
print(area)

20.0
40.0
125.60000000000001
1256.0

In [21]:
p = 23000
r = 25000
t = 14000
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

23000
25000
14000
80500000000.0

In [23]:
p = int(input("enter the value of principal" ))
r = float(input("enter the value of rate of instrest"))
t = int(input("enter the value of time"))
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

40000
3.0
34
40800.0

In [ ]:
pi = 3.14

In [2]:
print(1,2,3,4,5)
print(1,2,3,4, sep="")
print(1,2,3,4,5,6, sep=",")
print(1,2,3,4,5,6, sep='⏮️')
print(1,2,3,4,5, sep="\n")
print(1,2,3,4,5, sep="hello world")

1 2 3 4 5
1234
1,2,3,4,5,6
1⏮️2⏮️3⏮️4⏮️5⏮️6
1
2
3
4
5
1hello world2hello world3hello world4hello world5

In [6]:
a=100
b=30
c=a+b
print("Answer",c )

Answer 130

In [ ]:
p=20
b=10
h=(p**2+b**2)
print("calculation of hypotenuse")
print(f"perpendicular => {p}")
print(f'Base => {b}')