Loops

In [1]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
for i in range(0,15,5):
    print(i)

0
5
10

In [8]:
for num in range(100,201,2):
    print(num, end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [17]:
colour = ['red','blue','green']
print(colour)

['red', 'blue', 'green']

In [22]:
movies = ['arya','pusha','journey','happy days','adavi lo arapulu','debba debba','gampa kinda kodipetta']
print(movies)

['arya', 'pusha', 'journey', 'happy days', 'adavi lo arapulu', 'debba debba', 'gampa kinda kodipetta']

In [21]:
for i in range(1,101,2):
    print(i, end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [1]:
for i in range(-10,10,3):
    print(i,end=",")

-10,-7,-4,-1,2,5,8,

Loop with conditions

In [5]:
for i in range(1,11):
    if i %2==0:
        print(i)

2
4
6
8
10

In [6]:
for i in range(1,11):
    if i %2==1:
        print(i)

1
3
5
7
9

In [7]:
for i in range(1,11):
    if i %2!=0:
        print(i)

1
3
5
7
9

In [21]:
# display squares of even number
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**2
        print(s)
    else:
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

In [20]:
# display squares of odd number
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**3
        print(s)
    else:
        print("even number")

even number
even number
even number
even number
1728
even number

In [29]:
#cal the area of circles
radius=[3,5,6,11,10]
for r in radius:
    area=3.14*r**2
    print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [32]:
Videogames=['free fire','pubg','chess','unmatched air traffice control','infinite flight','simulator indonesia']
for name in Videogames:
    if name.startswith('u'):
        print(name)

unmatched air traffice control

In [20]:
books=['the final empire','warbaker','elantins','the well of assension','the alloy of law','hero of ages','the way of kings']
for book in books:
    if "the" in book or "of" in book:
        print(f"book->{books}")

book->['the final empire', 'warbaker', 'elantins', 'the well of assension', 'the alloy of law', 'hero of ages', 'the way of kings']
book->['the final empire', 'warbaker', 'elantins', 'the well of assension', 'the alloy of law', 'hero of ages', 'the way of kings']
book->['the final empire', 'warbaker', 'elantins', 'the well of assension', 'the alloy of law', 'hero of ages', 'the way of kings']
book->['the final empire', 'warbaker', 'elantins', 'the well of assension', 'the alloy of law', 'hero of ages', 'the way of kings']
book->['the final empire', 'warbaker', 'elantins', 'the well of assension', 'the alloy of law', 'hero of ages', 'the way of kings']

Aggregation

Sum,count,min,max,avg,median

In [4]:
num=[10,11,12,13,14,15,16,17,18,19,20]
total=0
for num in range(10,21):
    total=total+num
print(total)

165

In [12]:
num=[10,11,12,13,14,15,16,17,18,19,20]
total=1
for num in range(10,21):
    total=total*num
print(total)

6704425728000

In [13]:
num=[10,11,12,13,14,15,16,17,18,19,20]
total=0
for num in range(10,21):
    total=total+num/11
print(total)

14.999999999999998

In [21]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num > m:
        m=num
print(m)

53

In [27]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for i in nums:
    if i%3==0:
        count=count+1
print(f"total count={count}")

total count=8

In [31]:
movies=["Harry Potter1","Harry potter2","Harry potter3","Harry potter4","Harry potter5","Harry potter6","Harry potter7","Harry potter8","Fast and Furious1","Fast and Furious2","Fast and Furious3","Fast and Furious4"]
movies_with_h=0
for movie in movies:
    if movie.startswith("H") or movie.startswith("h"):
        movies_with_h +=1
print("count",movies_with_h)

count 8

In [33]:
num = 5
for i in range(1,num+1):
    print(i)

1
2
3
4
5

In [36]:
num = 10
fact= 1
for i in range(num,0,-1):
    fact=fact*i
    print(f'{i}*{fact}')
print(fact)

10*10
9*90
8*720
7*5040
6*30240
5*151200
4*604800
3*1814400
2*3628800
1*3628800
3628800

In [37]:
num = 10
fact= 1
for i in range(num,0,-1):
    fact=fact*i
print(fact)

3628800

### Nested Loop


for loop:
    for loop:
         for loop:

In [38]:
for i in range(1,11):
    for j in range(1,6):
        print(f"i={i},j={j}")

i=1,j=1
i=1,j=2
i=1,j=3
i=1,j=4
i=1,j=5
i=2,j=1
i=2,j=2
i=2,j=3
i=2,j=4
i=2,j=5
i=3,j=1
i=3,j=2
i=3,j=3
i=3,j=4
i=3,j=5
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4
i=4,j=5
i=5,j=1
i=5,j=2
i=5,j=3
i=5,j=4
i=5,j=5
i=6,j=1
i=6,j=2
i=6,j=3
i=6,j=4
i=6,j=5
i=7,j=1
i=7,j=2
i=7,j=3
i=7,j=4
i=7,j=5
i=8,j=1
i=8,j=2
i=8,j=3
i=8,j=4
i=8,j=5
i=9,j=1
i=9,j=2
i=9,j=3
i=9,j=4
i=9,j=5
i=10,j=1
i=10,j=2
i=10,j=3
i=10,j=4
i=10,j=5

In [43]:
n = 8
for i in range(1,n):
    for j in range(1,n):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

In [42]:
n = 10
for i in range(1,n):
    for j in range(1,n):
        print(i, end=' ')
    print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

### JUMP statement

- continue - to skip a step
- break - to stop the loop

always used with a condition inside a loop

In [44]:
# skip every value divisible by 3

for i in range(1,25):
    if i%3==0:
        continue
    print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [47]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i==0:
        continue
    print(i, end=' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [52]:
for i in range(1,11):
    if i == 8:
        break
    print(i,end=" ")

1 2 3 4 5 6 7

In [9]:
total = 0
print("enter 0 to stop the loop")
for i in range(100):
    value = int(input("enter a value"))
    if value == 0:
        break
    total += value
print(f"total = {total}")

enter 0 to stop the loop
total = 579

In [1]:
for i in range(1, 60):
    if i**12 == 0:
        continue
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59

In [2]:
for i in range(1, 10):
    if i == 99:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
nums = [2, 5, 8, 11, 15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [4]:
nums = [2, 5, 8, 11, 18]
for n in nums:
    if n >10:
        break
    print(n)
    print("loop completed")

2
loop completed
5
loop completed
8
loop completed

In [5]:
value = int(input("enter breakpoint"))
nums = [1, 2, 3, 4, 5, 6, 11, 15, 20, 25]
for n in nums:
    if value >n:
        print("loop broken")
else:
    print("loop completed")

loop broken
loop completed

In [6]:
num = int(input("enter a number"))
for n in range(2, num):
    if num %n==0:
        print(f"{n}not a prime number")
        break
else:
    print(f"{num} is prime number")

2not a prime number

In [7]:
x = 50
while x>0:
    print(x,end=" ")
    x-=5

50 45 40 35 30 25 20 15 10 5

In [1]:
x=[1,2,3,4,5,6,7,8,]
for item in x[::-1]:
    print(item)

8
7
6
5
4
3
2
1

reverse a list in place

In [2]:
a=[1,2,3]
a[:]
a[:]=a[::-1]

In [3]:
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(ans)

[3, 4, 5, 1, 2]

In [ ]:
# comprehension

In [6]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [7]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [ ]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i in zip[x1,y]

In [9]:
y=[1,2,3]
y2=[i*2 for i in y]